@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,600;0,700;0,900;1,400&family=Poppins&family=Roboto&display=swap');

:root{
  --primary-color: #fafafa;
  --secondary-color: #404145;
  --accent-color: linear-gradient(311.55deg, rgb(1, 172, 196) 7.49%, rgb(41, 199, 207) 50.69%, #4CCBCE 111.84%);
  --warning-color: #ffc226;
  --danger-color: #ed3c47;
  --muted-color: #b6b6b6;
}

* {
  font-family: 'Mulish', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  min-height: 90vh;
  background: #F5F5F5;
}

li {
  list-style: none;
}